services:
  app:
    build: .
    ports:
<<<<<<< HEAD
      - "5000:5000"
=======
      - "3000:3000"
>>>>>>> d1f3676 (Update)
    environment:
      - MONGO_URL=mongodb://mongo:27017/
      - DB_NAME=mydatabase
      - COLLECTION_NAME=mycollection
    depends_on:
      - mongo
    networks:
      - app-network

  mongo:
    image: mongo:7
    volumes:
      - mongo_data:/data/db
    networks:
      - app-network

volumes:
  mongo_data:

networks:
  app-network:
    driver: bridge
